@import "_vars";

//side nav bar -- needs to be worked on to fix overlapping links--
nav{
    display: grid;
    align-items: flex-start;
    font-family: sansita;
    color: white;
    border: 2px solid black;
    border-radius: 6px;
    height: 20rem;
    width: 5rem;
    position: fixed;
    background-color: darken($color: $primary, $amount: 10%);
    a{
        font-family: sansita;
        text-decoration: none;
        display: inline-block;
        margin-left: 5px;
        position: fixed;
        &:hover{
            transition: 3s;
            background-color: lighten($primary, $amount: 15%);
        }
    }
}

//needs media query for smaller screens or phones, needs to be in the top corner//