@import "_vars";

//side nav bar -- still in progress--
nav{
    display:grid;
    align-items: flex-start;
    font-family: sansita;
    color: white;
    height: 20rem;
    width: 5rem;
    background-color: darken($color: $primary, $amount: 15%);
    a{
        font-family: sansita;
        text-decoration: none;
        display: inline-block;
        padding: 1rem;
        margin-left: auto;
        position: fixed;
        &:hover{
            transition: 3s;
            background-color: lighten($primary, $amount: 15%);
        }
    }
}

@media screen and (min-width:800px){
    nav{
        a{
            &:first-of-type{
                line-height: 2;
            }
            &:not(:first-of-type){
                display:none;
            }
        }
        &.reponsive{
            display:block;
            a{
                text-align: block;
                display: block;
                &:last-of-type{
                    position: fixed;
                }
            }
        }
    }
}