@import "_vars" , "_nav";

* {
    box-sizing: border-box;
}

body,html {
    height: 100%;
    margin: 0;
}

body {
    background-color: lighten($color: $primary, $amount: 5%);
    h1{
        text-align: center;
        font-family: rightous;
        font-weight: bold;
        font-size: xx-large;
        text-decoration: underline;
        border: 2px solid $secondary;
        background-color: $secondary;
    }
    p{
        font-family: sansita;
        font-weight: 800;
        font-size: larger;
        margin-left: 3rem;
    }
}

footer{
    background-color: darken($color: $secondary, $amount: 20%);
    height: 12rem;
    width: 100%;
    margin-top: 30rem;
    color:white;
    text-align: center;
    h4{
        text-align: left;
        font-family: sansita;
        font-size: small;
        padding-left: 2rem;
        text-align: center;
    }
    h5{
        color: black;
        text-align: right;
        font-family: yesteryear;
        font-size: large;
        padding-right: 3rem;
    }
    button{ 
        .social{
            cursor:pointer;
            margin-left: 1rem;
            margin-top: 5px;
            align-content: center;
        }
    }
}

//media query for footer - to make sure that the border is the correct size when shrunk//
@media screen and (max-width:700px ){
    footer{
        height: 19rem;
        width: 100%;
        h4{
            font-size: medium;
            font-weight: bold;
            text-align: center;
        }
        h5{
            font-size: small;
            text-align: end;
        }
        button{
            &.social{
            width: 4.5rem;
            height: 4rem;
            font-size: small;
            color: white;
            border-radius: 3rem;
            margin-left: 2rem;
            &:hover{
                transform: scale(1,1);
                transition: none;
            }
            &:active{
                transform: scale(1,1);
                transition: none;
            }
            }
        }
    }
}

//media query for larger screens//
@media screen and (min-width: 1500px){
    footer{
        height: 16.5rem;
        width:100%;
        h4{
            font-size: larger;
            font-weight: bold;
            text-align: start;
        }
        h5{
            font-size: medium;
        }
        button{
            &.social{
                width: 7rem;
                height: 3rem;
                font-size: medium;
                border-radius: 5px;
                margin-left: 8rem;
            }
        }
    }
}

//colors for social media buttons//
$colors:(
    "insta":hotpink,
    "facebook":royalblue,
    "twitter": skyblue,
    "youtube": red,
    "github":black
);
//each selector for button creators//
@each $name, $color in $colors{
    &.#{$name} {
        width: 6rem;
        height: 2rem;
        cursor: pointer;
        margin-left: 2rem;
        background-color: $color;
        border: $color;
        border-radius: 4px;
        transform: scale(1,1);
        transition: 2s ease-in;
        box-shadow: 2px 2px darkslategray;
        color:white;
        &:hover{
            transform: scale(1.1,1.1);
            transition: 2s ease-out;
            background-color: lighten($color, $amount: 15%);
            border: lighten($color, $amount: 15%);   
        }
        &:active{
            transform: scale(.8,.8);
            transition: 2s ease-in;
            background-color: darken($color, $amount: 15%);
        }
    }
}