nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 20rem;
  width: 5rem;
  background-color: #1d44b8;
}

nav a {
  color: black;
  font-family: sansita;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  margin-left: auto;
}

nav a:last-of-type {
  display: none;
  margin-left: auto;
}

nav a:hover {
  -webkit-transition: 3s;
  transition: 3s;
  background-color: #4169E1;
}

@media screen and (min-width: 800px) {
  nav a:first-of-type {
    line-height: 2;
  }
  nav a:not(:first-of-type) {
    display: none;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #577ae4;
}

body h1 {
  text-align: center;
  font-family: rightous;
  font-weight: bold;
  font-size: xx-large;
  text-decoration: underline;
}

body p {
  font-family: sansita;
  font-weight: 800;
  font-size: larger;
  margin-left: 2rem;
}

footer {
  background-color: #a2801a;
  height: 12rem;
  width: 100%;
  margin-top: 30rem;
  color: white;
  text-align: center;
}

footer h4 {
  text-align: left;
  font-family: sansita;
  font-size: small;
  padding-left: 2rem;
  text-align: center;
}

footer h5 {
  color: black;
  text-align: right;
  font-family: yesteryear;
  font-size: large;
  padding-right: 3rem;
}

footer button .social {
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 5px;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media screen and (max-width: 700px) {
  footer {
    height: 17rem;
    width: 100%;
  }
  footer h4 {
    font-size: small;
    font-weight: bold;
    text-align: center;
  }
  footer h5 {
    font-size: smaller;
    text-align: end;
  }
  footer button.social {
    width: 4.5rem;
    height: 4rem;
    font-size: small;
    color: white;
    border-radius: 3rem;
    margin-left: 2rem;
  }
}

.insta {
  width: 6rem;
  height: 2rem;
  cursor: pointer;
  margin-left: 2rem;
  background-color: hotpink;
  border: hotpink;
  border-radius: 4px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  -webkit-box-shadow: 2px 2px darkslategray;
          box-shadow: 2px 2px darkslategray;
  color: white;
}

.insta:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 2s ease-out;
  transition: 2s ease-out;
  background-color: #ffb6da;
  border: #ffb6da;
}

.insta:active {
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  background-color: #ff1d8e;
}

.facebook {
  width: 6rem;
  height: 2rem;
  cursor: pointer;
  margin-left: 2rem;
  background-color: royalblue;
  border: royalblue;
  border-radius: 4px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  -webkit-box-shadow: 2px 2px darkslategray;
          box-shadow: 2px 2px darkslategray;
  color: white;
}

.facebook:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 2s ease-out;
  transition: 2s ease-out;
  background-color: #839deb;
  border: #839deb;
}

.facebook:active {
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  background-color: #1d44b8;
}

.twitter {
  width: 6rem;
  height: 2rem;
  cursor: pointer;
  margin-left: 2rem;
  background-color: skyblue;
  border: skyblue;
  border-radius: 4px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  -webkit-box-shadow: 2px 2px darkslategray;
          box-shadow: 2px 2px darkslategray;
  color: white;
}

.twitter:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 2s ease-out;
  transition: 2s ease-out;
  background-color: #c9e9f6;
  border: #c9e9f6;
}

.twitter:active {
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  background-color: #45b3e0;
}

.youtube {
  width: 6rem;
  height: 2rem;
  cursor: pointer;
  margin-left: 2rem;
  background-color: red;
  border: red;
  border-radius: 4px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  -webkit-box-shadow: 2px 2px darkslategray;
          box-shadow: 2px 2px darkslategray;
  color: white;
}

.youtube:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 2s ease-out;
  transition: 2s ease-out;
  background-color: #ff4d4d;
  border: #ff4d4d;
}

.youtube:active {
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  background-color: #b30000;
}

.github {
  width: 6rem;
  height: 2rem;
  cursor: pointer;
  margin-left: 2rem;
  background-color: black;
  border: black;
  border-radius: 4px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  -webkit-box-shadow: 2px 2px darkslategray;
          box-shadow: 2px 2px darkslategray;
  color: white;
}

.github:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 2s ease-out;
  transition: 2s ease-out;
  background-color: #262626;
  border: #262626;
}

.github:active {
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  background-color: black;
}
/*# sourceMappingURL=style.css.map */